*,
*::before,
*::after {
    box-sizing: border-box;
}

header div:first-child {
    float: left;
}

header div:last-child {
    float:right;
}

header a {
    text-decoration: none;
    color:rgb(17, 58, 160)
}

header a:hover {
    color: rgb(103, 115, 175);
}

.content {
    clear: both;
    margin-top: 75px;
}
.intro {
    text-align: center;
}
.intro button {
    font-size: 125%;
    color: rgb(255, 0, 255);
    background-color: rgb(82, 0, 82);
    border: 1px solid purple;
    padding: 10px;
    cursor:pointer;
    
    transition: all 300ms ease-in;
}
.intro button:hover {
    color: rgb(82, 0, 82);
    background-color: rgb(255, 0, 255);
    border: 1px solid purple;

}
.hidden {
    display:none;
}

.choice-1,.choice-2,.choice-3,.choice-4 {
    cursor: pointer;
}

li {
    background-color:blueviolet;
    color: white;
    margin: 6px;
    border-radius: 8px;
    padding: 4px;
}